@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');
:root{
  --color-primary: #27241e;
  --color-secondary: #FB8E00;
  --color-secondary-dark: #CF8000;
  --color-font-primary: #FFF;
  --color-font-secondary: #000;
  --color-footer-background: #BE6C00;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-primary);
  color: var(--color-font-primary);
  font-family: "Poppins", sans-serif;
}